\version "{{version}}"
\language "english"

\paper {
  tagline = ##f
  indent = 0\mm
  ragged-right = ##t
  top-margin = 5\mm
  bottom-margin = 5\mm
  left-margin = 5\mm
  right-margin = 5\mm
}

{{#title}}
\header { 
  title = "{{{title}}}"
}
{{/title}}

\fixed c' {
  \clef treble
  {{#time_signature}}{{{time_signature}}}{{/time_signature}}
  {{#key_signature}}{{{key_signature}}}{{/key_signature}}
  {{{staves}}}
}